<h2>All Product Categories</h2>

<p>
Total: <%= pluralize(@kinds.length, 'category') %>
</p>

    <ul>
    <% @kinds.each do |kind| %>
        <li>
            <%= link_to kind.name, kind_path(kind) %>
            
        </li>
        <% end %>
    
    </ul>
