<h2 class="homepageh2">Welcome to Mother Group 930</h2>

<p class="homepageh2">930 is not the number of members, we are not there yet, but we are sure, the family is getting bigger.</p>

<p class="homepageh2">You are welcome to <%= link_to "Sign Up", new_user_path %> to help us achieve 930 and even more.</p>

<p class="homepageh2">Here is the story of 930 (9:30 pm): <br> that is the time we could enjoy ourselves after the kid is in bed <br> 
<ul class="homepageul">
<li>we had our shower</li>
<li>sitting on the couch...</li>
<li>talk about what we can do with our kids</li>
<li>and share items with each other.</li>
</ul></p>

<div class="left">
<%= image_tag 'activityboard.jpeg', class: "activityboard"%>
</div>


<div class="right">
<%= image_tag 'old-toys.jpg', class: "marketplace"%>
</div>



