<h1>Welcome to Mother Group 930</h1>
<p>930 is not the number of members, we are not there yet, but we are sure, the family is getting bigger.</p>

<p>You are welcome to <%= link_to "Sign Up", new_user_path %> to help us achieve 930 and even more.</p>

<p>Here is the story of 930 (9:30 pm), that is the time we could enjoy ourselves after the kid is in bed, we had our show, sitting on the couch...then talk about what we can do with our kids, and share items with each other.</p>


