

body {
    background-image: url("https://wallpapercave.com/wp/wp3179995.jpg");
    background-color: pink;
    font-family: monospace;
}

.like {
    color: rgb(8, 7, 8);
  }

button {
    background-color: rgb(217, 140, 178);
    border-radius: 15px;
}

