<h2>All Products</h2>

<%= link_to 'Add Product', new_product_path %>

<p>
Total: <%= pluralize(@products.length, 'product') %>
</p>

    <ul>
    <% @products.each do |product| %>
        <li>
            <%= link_to product.name, product_path(product) %>
            (<%= link_to product.user.name, user_path(product.user) %>)
            
        </li>
        <% end %>
    
    </ul>
